module LocalConfig (
    screenForFirstGroup,
    screenForSecondGroup,
    screenForBrowser
) where

-- Sample configuration for two screens

import XMonad

screenForFirstGroup :: ScreenId
screenForFirstGroup = 0

screenForSecondGroup :: ScreenId
screenForSecondGroup = 1

screenForBrowser :: [Char]
screenForBrowser = "7"
